@model List<CpcmUser>?
<form class="col-md-12 mx-auto" id="searchUser">
	<h4 class="text-center">Фильтры поиска</h4>
	<div class="row mb-3">
		<div class="col">
			<label for="FirstName" class="form-label">Имя</label>
			<input name="FirstName" type="text" class="form-control">
		</div>
		<div class="col">
			<label for="SecondName" class="form-label">Фамилия</label>
			<input name="SecondName" type="text" class="form-control">
		</div>
		<div class="col">
			<label for="AdditionalName" class="form-label">Отчество</label>
			<input name="AdditionalName" type="text" class="form-control">
		</div>
		<span validation-for="CpcmUserFirstName" class="text-danger"></span>
		<span validation-for="CpcmUserSecondName" class="text-danger"></span>
	</div>

	<label for="CpcmUserCity" class="form-label">Город</label>
	<div class="flex-grow-1 input-group d-flex justify-content-between mb-3">
		<select data-live-search="true" name="CityId" class="selectpicker flex-grow-1" id="city" data-live-search="true" asp-items="ViewBag.CpcmUserCity">
			<option value="" selected disabled>Выберите город...</option>
		</select>
	</div>

	<label for="CpcmUserUniversity" class="form-label">Университет</label>
	<div class="flex-grow-1 input-group d-flex justify-content-between mb-3">
		<select data-live-search="true" name="UniversityId" class="selectpicker flex-grow-1" id="university" asp-items="ViewBag.CpcmUserUniversity">
			<option value="" selected disabled>Выберите университет...</option>
		</select>
	</div>

	<label for="CpcmUserSchool" class="form-label">Школа</label>
	<div class="flex-grow-1 input-group d-flex justify-content-between mb-3">
		<select data-live-search="true" name="SchoolId" class="selectpicker flex-grow-1" id="school" asp-items="ViewBag.CpcmUserSchool">
			<option value="" selected disabled>Выберите школу...</option>
		</select>
	</div>
	<div class="row">
		<button type="submit" class="btn btn-outline-primary">Найти</button>
	</div>
</form>
<div class="container mt-3">
	<div class="row">
		@if (Model.Count != 0)
		{
			@foreach (CpcmUser user in Model)
			{
				<div class="col-md-4" id="@user.CpcmUserId">
					<div class="card mb-4 shadow-sm">
						<img src="@Url.Content(@user.CpcmUserImagePath)" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="Иконка пользователя" style="object-fit: none; object-position: center;">
						<div class="card-body">
							<p class="card-text">@user.CpcmUserFirstName @user.CpcmUserSecondName @user.CpcmUserAdditionalName</p>
						</div>
					</div>
				</div>
			}
			<div class="col-12 text-center">
				<button class="btn btn-primary" type="button">Загрузить ещё</button>
			</div>
		}
		else
		{
			<h5 class="col-12 text-muted text-center mt-2">К сожалению, кроме капибар никого не нашлось :(</h5>
		}
	</div>
</div>
<script src="~/js/friends.js"></script>