@model PostModel
<div class="card mb-2" id="@Model.Post.CpcmPostId">
	<div class="card-body">
		<div class="d-flex align-items-center mb-3">
			<div class="PostId" hidden>@Model.Post.CpcmPostId</div>
			@if (Model.UserOwner.CpcmUserNickName != null)
			{
				<a asp-controller="User" asp-action="Index" asp-route-Nickname="@Model.UserOwner.CpcmUserNickName">
					@if (@Model.UserOwner.CpcmUserImagePath != string.Empty)
					{
						<img src="@Url.Content(@Model.UserOwner.CpcmUserImagePath)"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
					else
					{
						<img src="\uploads\default.png"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
				</a>
			}
			else
			{
				<a asp-controller="User" asp-action="Index" asp-route-UserId="@Model.Post.CpcmUserId">
					@if (@Model.UserOwner.CpcmUserImagePath != string.Empty)
					{
						<img src="@Url.Content(@Model.UserOwner.CpcmUserImagePath)"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
					else
					{
						<img src="\uploads\default.png"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
				</a>
			}

			<div>
				@if (Model.UserOwner.CpcmUserNickName != null)
				{
					<a class="link-dark nickname" asp-controller="User" asp-action="Index" asp-route-Nickname="@Model.UserOwner.CpcmUserNickName">
						<h5>@Model.UserOwner.CpcmUserFirstName @Model.UserOwner.CpcmUserSecondName @Model.UserOwner.CpcmUserAdditionalName</h5>
					</a>
				}
				else
				{
					<a class="link-dark nickname" asp-controller="User" asp-action="Index" asp-route-UserId="@Model.Post.CpcmUserId">
						<h5>@Model.UserOwner.CpcmUserFirstName @Model.UserOwner.CpcmUserSecondName @Model.UserOwner.CpcmUserAdditionalName</h5>
					</a>
				}
				<a asp-controller="PostComment" asp-action="ViewPost" asp-route-postId="@Model.Post.CpcmPostId" class="text-muted">@Model.Post.CpcmPostPublishedDate?.ToString("dd.MM.yyyy HH:mm")</a>
			</div>
			@if (User.Identity.IsAuthenticated && Model.Post.CpcmUserId.ToString() == User.FindAll(x => x.Type == "CpcmUserId").FirstOrDefault().Value)
			{
				<div class="ms-auto mb-auto d-flex" style="flex-direction: column;">
					<a asp-controller="User" asp-action="EditPost" asp-route-postGuid="@Model.Post.CpcmPostId">
						<img src="~/images/pencil-square.svg" />
					</a>
					<a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="askDelete('@Model.Post.CpcmPostId')">
						<svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
							<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
						</svg>
					</a>
				</div>
			}
		</div>

		<div class="g-2">
			<div class="row g-1 p-1">
				@Model.Post.CpcmPostText
			</div>
			<div class="@(Model.Post.CpcmImages.Count != 0 ? ("row row-cols-1 g-4 " + (Model.Post.CpcmImages.Count > 1 ? "row-cols-md-2 row-cols-lg-2" : "")) : "")">
				@{
					if (Model.Post.CpcmPostFatherNavigation == null)
						foreach (var image in Model.Post.CpcmImages.OrderBy(c => c.CpcmImageOrder))
						{
							<div class="col m-0" style="padding: 1px;">
								<img src="@Url.Content(@image.CpcmImagePath)" class="rounded card-img-top h-100" alt="Изображение" style="object-fit: cover;">
							</div>
						}
					else if (Model.Post.CpcmPostFatherNavigation.CpcmIsDeleted)
					{
						<div class="card mb-2">
							<div class="card-body">
								<div class="d-flex align-items-center">
									Пост был удалён :(
								</div>
							</div>
						</div>
					}
					else if (Model.Post.CpcmPostFatherNavigation.CpcmPostBanned)
					{
						<div class="card mb-2">
							<div class="card-body">
								<div class="d-flex align-items-center">
									Пост был забаннен :(
								</div>
							</div>
						</div>
					}
					else if (Model.Post.CpcmPostFatherNavigation.User.CpcmIsDeleted)
					{
						<div class="card mb-2">
							<div class="card-body">
								<div class="d-flex align-items-center">
									Аккаунт автора поста был удалён :(
								</div>
							</div>
						</div>
					}
					else if (Model.Post.CpcmPostFatherNavigation.User.CpcmUserBanned)
					{
						<div class="card mb-2">
							<div class="card-body">
								<div class="d-flex align-items-center">
									Автор поста был забаннен :(
								</div>
							</div>
						</div>
					}
					else
					{
						@await Html.PartialAsync("~/Views/User/PostChild.cshtml", Model.Post.CpcmPostFatherNavigation)
					}
				}
			</div>
			<div class="d-grid d-flex mt-1 justify-content-md-start">
				<button class="btn btn-outline-primary me-2 button-bottom" onclick="likePost(this, '@Model.Post.CpcmPostId');">
					@if (@Model.Post.IsLiked)
					{
						<img src="~/images/tangerine_colored.svg" />
					}
					else
					{
						<img src="~/images/tangerine_black.svg" />
					}
					<span class="likes-count-show"></span>
					<span class="likes-count" style="display: none">@Model.LikesCount</span>
				</button>
				<a asp-area="" asp-controller="PostComment" asp-action="ViewPost" asp-route-postId="@Model.Post.CpcmPostId" class="btn btn-outline-primary me-2 button-bottom">
					<img src="~/images/comments.svg" />
				</a>
				<button class="btn btn-outline-primary me-2 button-bottom" data-bs-toggle="modal" data-bs-target="#repostModal" onclick="repost(this, '@Model.Post.CpcmPostId');">
					<img src="~/images/repost.svg" />
					<span class="repost-count-show"></span>
					<span class="repost-count" style="display: none">@Model.RepostsCount</span>
				</button>
			</div>
		</div>
	</div>
</div>