@model PostModel
<div class="card mb-2">
	<div class="card-body">
		<div class="d-flex align-items-center mb-3">
			<img src="@Url.Content(@Model.Post.User?.CpcmUserImagePath)"
				 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
			<div>
				<h5>@Model.Post.User?.CpcmUserFirstName @Model.Post.User?.CpcmUserSecondName @Model.Post.User?.CpcmUserAdditionalName</h5>
				<small class="text-muted">@Model.Post.CpcmPostPublishedDate?.ToString("dd.MM.yyyy HH:mm")</small>
			</div>
		</div>

		<div class="g-2">
			<div class="row g-1 p-1">
				@Model.Post.CpcmPostText
			</div>
			<div class="@(Model.Post.CpcmImages.Count != 0 ? ("row row-cols-1" + (Model.Post.CpcmImages.Count > 1 ? "row-cols-md-2 row-cols-lg-2" : "") + "g-4") : "")">
				@{
					if (Model.Post.CpcmPostFatherNavigation == null)
						foreach (var image in Model.Post.CpcmImages)
						{
							<div class="col m-0" style="padding: 1px;">
								<img src="@Url.Content(@image.CpcmImagePath)" class="rounded card-img-top h-100" alt="Изображение" style="object-fit: cover;">
							</div>
						}
					else
						@await Html.PartialAsync("PostChild", Model.Post.CpcmPostFatherNavigation)
				}
			</div>
			<div class="d-grid d-flex mt-1 justify-content-md-start">
				<button class="btn btn-outline-primary me-2 button-bottom" onclick="likePost(this, '@Model.Post.CpcmPostId');">
					@if (@Model.Post.IsLiked)
					{
						<img src="~/images/tangerine_colored.svg" />
					}
					else
					{
						<img src="~/images/tangerine_black.svg" />
					}
					<span class="likes-count-show"></span>
					<span class="likes-count" style="display: none">@Model.LikesCount</span>
				</button>
				<a asp-area="" asp-controller="PostComment" asp-action="ViewPost" asp-route-postId="@Model.Post.CpcmPostId" class="btn btn-outline-primary me-2 button-bottom">
					<img src="~/images/comments.svg" />
				</a>
				<button class="btn btn-outline-primary me-2 button-bottom" data-bs-toggle="modal" data-bs-target="#repostModal" onclick="repost(this, '@Model.Post.CpcmPostId');">
					<img src="~/images/repost.svg" />
					<span class="repost-count-show"></span>
					<span class="repost-count" style="display: none">@Model.RepostsCount</span>
				</button>
			</div>
		</div>
	</div>
</div>