@model Capycom.CpcmRole

@{
    ViewData["Title"] = "Детали";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div>
    <h4>CpcmRole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmRoleName)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmRoleName)
        </dd>

        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmCanEditUsers)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmCanEditUsers)
        </dd>

        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmCanEditGroups)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmCanEditGroups)
        </dd>

        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmCanEditRoles)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmCanEditRoles)
        </dd>

        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmCanDelUsersPosts)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmCanDelUsersPosts)
        </dd>

        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmCanDelUsersComments)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmCanDelUsersComments)
        </dd>

        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmCanDelGroupsPosts)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmCanDelGroupsPosts)
        </dd>

        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmCanAddPost)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmCanAddPost)
        </dd>

        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmCanAddGroups)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmCanAddGroups)
        </dd>

        <dt class = "col-lg-3">
            @Html.DisplayNameFor(model => model.CpcmCanAddComments)
        </dt>
        <dd class = "col-lg-9">
            @Html.DisplayFor(model => model.CpcmCanAddComments)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-sm-6 m-sm-0 mb-1 p-0 pe-sm-1">
        <a class="btn btn-outline-primary container-fluid" asp-action="Index">Назад</a>
    </div>
    <div class="col-sm-6 p-0">
        <a class="btn btn-outline-warning container-fluid" asp-action="Edit" asp-route-id="@Model?.CpcmRoleId">Редактировать</a>
    </div>
</div>