@model Capycom.CpcmRole

@{
	ViewData["Title"] = "Редактирование роли";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row">
	<div class="col">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="CpcmRoleId" />
			<div class="form-group mb-1">
				<label asp-for="CpcmRoleName" class="control-label mb-1"></label>
				<input asp-for="CpcmRoleName" class="form-control" />
				<span asp-validation-for="CpcmRoleName" class="text-danger"></span>
			</div>
			<div class="ms-2">
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="CpcmCanEditUsers" /> @Html.DisplayNameFor(model => model.CpcmCanEditUsers)
					</label>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="CpcmCanEditGroups" /> @Html.DisplayNameFor(model => model.CpcmCanEditGroups)
					</label>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="CpcmCanEditRoles" /> @Html.DisplayNameFor(model => model.CpcmCanEditRoles)
					</label>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="CpcmCanDelUsersPosts" /> @Html.DisplayNameFor(model => model.CpcmCanDelUsersPosts)
					</label>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="CpcmCanDelUsersComments" /> @Html.DisplayNameFor(model => model.CpcmCanDelUsersComments)
					</label>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="CpcmCanDelGroupsPosts" /> @Html.DisplayNameFor(model => model.CpcmCanDelGroupsPosts)
					</label>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="CpcmCanAddPost" /> @Html.DisplayNameFor(model => model.CpcmCanAddPost)
					</label>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="CpcmCanAddGroups" /> @Html.DisplayNameFor(model => model.CpcmCanAddGroups)
					</label>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="CpcmCanAddComments" /> @Html.DisplayNameFor(model => model.CpcmCanAddComments)
					</label>
				</div>
			</div>
			<div class="form-group row mt-1">
				<div class="col-sm-6 m-sm-0 mb-1 p-0 pe-sm-1">
					<a class="btn btn-outline-primary container-fluid" asp-action="Index">Назад к списку</a>
				</div>
				<div class="col-sm-6 p-0">
					<input class="btn btn-outline-success container-fluid" type="submit" value="Сохранить" />
				</div>
			</div>
		</form>
	</div>
</div>

