@model IEnumerable<Capycom.CpcmRole>

@{
	ViewData["Title"] = "Редактирование ролей";
}

<div class="container">
	<h1 class="text-center mb-4">@ViewData["Title"]</h1>
	<a class="btn btn-primary mb-2 container-fluid" asp-action="Create">Добавить роль</a>
	<div class="container" style="overflow: auto">
		<table class="table">
			<thead>
				<tr>
					<th align="center" valign="middle" class="text-center">Действия</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmRoleName)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanEditUsers)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanEditGroups)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanEditRoles)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanEditGroupRoles)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanEditUsersPost)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanEditGroupsPost)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanBanUsers)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanBanUsersPost)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanBanUsersComment)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanBanGroupsPost)
					</th>
					<th align="center" valign="middle">
						@Html.DisplayNameFor(model => model.CpcmCanBanGroups)
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td align="center" valign="middle">
							<a class="btn btn-outline-info container-fluid mb-1" asp-action="Details" asp-route-id="@item.CpcmRoleId">Детали</a>
							<a class="btn btn-outline-warning container-fluid mb-1" asp-action="Edit" asp-route-id="@item.CpcmRoleId">Редактировать</a>
							<a class="btn btn-outline-danger container-fluid" asp-action="Delete" asp-route-id="@item.CpcmRoleId">Удалить</a>
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmRoleName)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanEditUsers)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanEditGroups)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanEditRoles)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanEditGroupRoles)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanEditUsersPost)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanEditGroupsPost)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanBanUsers)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanBanUsersPost)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanBanUsersComment)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanBanGroupsPost)
						</td>
						<td align="center" valign="middle">
							@Html.DisplayFor(modelItem => item.CpcmCanBanGroups)
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>