@model PostModel
<link href="~/css/post-content.css" rel="stylesheet" />
<div class="card mb-2">
	<div class="card-body">
		<div class="d-flex align-items-center mb-3">
			@if (Model.Post.User?.CpcmUserNickName != null)
			{
				<a asp-controller="User" asp-action="Index" asp-route-Nickname="@Model.Post.User?.CpcmUserNickName">
					@if (@Model.Post.User?.CpcmUserImagePath != string.Empty)
					{
						<img src="@Url.Content(@Model.Post.User?.CpcmUserImagePath)"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
					else
					{
						<img src="\uploads\default.png"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
				</a>
			}
			else
			{
				<a asp-controller="User" asp-action="Index" asp-route-UserId="@Model.Post.CpcmUserId">
					@if (@Model.Post.User?.CpcmUserImagePath != string.Empty)
					{
						<img src="@Url.Content(@Model.Post.User?.CpcmUserImagePath)"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
					else
					{
						<img src="\uploads\default.png"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
				</a>
			}
			<div>
				@if (Model.Post.User?.CpcmUserNickName != null)
				{
					<a class="link-dark nickname" asp-controller="User" asp-action="Index" asp-route-Nickname="@Model.Post.User?.CpcmUserNickName">
						<h5>@Model.Post.User?.CpcmUserFirstName @Model.Post.User?.CpcmUserSecondName @Model.Post.User?.CpcmUserAdditionalName</h5>
					</a>
				}
				else
				{
					<a class="link-dark nickname" asp-controller="User" asp-action="Index" asp-route-UserId="@Model.Post.CpcmUserId">
						<h5>@Model.Post.User?.CpcmUserFirstName @Model.Post.User?.CpcmUserSecondName @Model.Post.User?.CpcmUserAdditionalName</h5>
					</a>
				}
				<a asp-controller="PostComment" asp-action="ViewPost" asp-route-postId="@Model.Post.CpcmPostId" class="text-muted">@Model.Post.CpcmPostPublishedDate?.ToString("dd.MM.yyyy hh:mm")</a>
			</div>
		</div>

		<div class="g-2">
			<div class="row g-1 p-1">
				@Model.Post.CpcmPostText
			</div>
			@if (Model.Post.CpcmImages.Count != 0)
			{
				<div class="row row-cols-1 @(Model.Post.CpcmImages.Count > 1 ? "row-cols-md-2 row-cols-lg-2" : "") g-4">
					@{
						if (Model.Post.CpcmPostFatherNavigation == null)
							foreach (var image in Model.Post.CpcmImages)
							{
								<div class="col m-0" style="padding: 1px;">
									<img src="@Url.Content(@image.CpcmImagePath)" class="rounded card-img-top object-fit-cover h-100" alt="Изображение">
								</div>
							}
						else
							@await Html.PartialAsync("/Views/User/PostChild.cshtml", Model.Post.CpcmPostFatherNavigation)
					}
				</div>
			}
		</div>
		@if (User.Identity.IsAuthenticated)
		{
			<div class="card mt-2">
				<form class="d-flex align-content-center" id="commentForm" enctype="multipart/form-data">
					@Html.AntiForgeryToken()

					@if (Context.User.FindFirst("ProfileImage")?.Value[0] != '\\')
					{
						<img src='@Url.Content($"~/{Context.User.FindFirst("ProfileImage")?.Value}")'
							 class="rounded-circle m-2 user-icon" style="object-fit: cover;">
					}
					else
					{
						<img src='@Url.Content(Context.User.FindFirst("ProfileImage")?.Value)'
							 class="rounded-circle m-2 user-icon" style="object-fit: cover;">
					}
					<div class="row mt-auto mb-auto mt-1 mb-1 me-1" style="width: 100vw">
						<div class="input-group">
							<input name="CpcmPostId" value="@Model.Post.CpcmPostId" hidden />
							<textarea name="CpcmCommentText" type="text" class="form-control comment-text" id="commentText" rows="1" required></textarea>
							<div class="d-flex align-items-center btn btn-light border-top border-bottom">
								<label class="paperclip-label" for="fileInput">
									<img class="paperclip-icon" src="~/images/paperclip.svg" />
								</label>
							</div>
							<button type="submit" class="btn btn-light border" value="">Отправить</button>
						</div>
						<input name="Files" id="fileInput" type="file" multiple hidden />
						<div class="file-list"></div>
					</div>
				</form>
			</div>
		}
		@foreach (var comment in Model.TopLevelComments)
		{
			<div class="card mt-2" id="@comment.CpcmCommentId">
				<div class="d-flex">
					@if (comment.CpcmUser.CpcmIsDeleted)
					{
						<p class="m-1 pb-1">Аккаунт автора комментария был удалён :(</p>
					}
					else if (comment.CpcmUser.CpcmUserBanned)
					{
						<p class="m-1 pb-1">Автор комментария был забаннен :(</p>
					}
					else if (comment.CpcmIsDeleted)
					{
						<p class="m-1 pb-1">Комментарий удалён :(</p>
					}
					else if (comment.CpcmCommentBanned)
					{
						<p class="m-1 pb-1">Комментарий забаннен :(</p>
					}
					else
					{
						@if (comment.CpcmUser.CpcmUserNickName != null)
						{
							<a asp-controller="User" asp-action="Index" asp-route-Nickname="@comment.CpcmUser.CpcmUserNickName">
								@if (comment.CpcmUser.CpcmUserImagePath != string.Empty)
								{
									<img src="@Url.Content(@comment.CpcmUser?.CpcmUserImagePath)"
										 class="rounded-circle mt-2 ms-2 me-2 user-icon">
								}
								else
								{
									<img src="\images\default.png"
										 class="rounded-circle mt-2 ms-2 me-2 user-icon">
								}

							</a>
						}
						else
						{
							<a asp-controller="User" asp-action="Index" asp-route-UserId="@comment.CpcmUser.CpcmUserId">
								<img src="@Url.Content(@comment.CpcmUser?.CpcmUserImagePath)"
									 class="rounded-circle mt-2 ms-2 me-2 user-icon">
							</a>
						}
						<div class="row p-1">
							@if (Model.Post.User?.CpcmUserNickName != null)
							{
								<div>
									<a class="mt-0 mb-0 link-dark nickname" asp-controller="User" asp-action="Index" asp-route-Nickname="@comment.CpcmUser.CpcmUserNickName">
										@comment.CpcmUser?.CpcmUserFirstName @comment.CpcmUser?.CpcmUserSecondName @comment.CpcmUser?.CpcmUserAdditionalName
									</a>
								</div>
							}
							else
							{
								<div>
									<a class="mt-0 mb-0 link-dark nickname" asp-controller="User" asp-action="Index" asp-route-UserId="@comment.CpcmUser.CpcmUserId" class="mt-0 mb-0">
										@comment.CpcmUser?.CpcmUserFirstName @comment.CpcmUser?.CpcmUserSecondName @comment.CpcmUser?.CpcmUserAdditionalName
									</a>
								</div>
							}
							<a asp-controller="PostComment" asp-action="ViewComment" asp-route-commentId="@comment.CpcmCommentId" class="text-muted">@comment.CpcmCommentCreationDate.ToString("dd.MM.yyyy hh:mm")</a>
							<p class="mb-1">@comment.CpcmCommentText</p>
						</div>
						@if (User.Identity.IsAuthenticated && comment.CpcmUser.CpcmUserId.ToString() == User.FindAll(x => x.Type == "CpcmUserId").FirstOrDefault().Value)
						{
							<div class="ms-auto mb-auto me-1 d-flex" style="flex-direction: column;">
								@*
									<a asp-controller="User" asp-action="EditPost" asp-route-postGuid="@Model.Post.CpcmPostId">
									<img src="~/images/pencil-square.svg" />
									</a>
								*@
								<a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="askCommentDelete('@comment.CpcmCommentId')">
									<svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
										<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
									</svg>
								</a>
							</div>
						}
					}
				</div>
				<div class="row row-cols-1 ps-2 pb-1 @(comment.CpcmImages.Count > 1 ? "row-cols-md-2 row-cols-lg-2" : "") g-2">
					@foreach (var image in comment.CpcmImages)
					{
						<div class="col block-image">
							<img src="@Url.Content(@image.CpcmImagePath)" class="rounded card-img-top object-fit-cover h-100 mt-0" alt="Изображение">
						</div>
					}
				</div>
			</div>
		}
	</div>
</div>
<script src="~/js/post-content.js"></script>
<script src="~/js/comment-requests.js"></script>
<!-- Модальное окно на подтверждение удаление комментария -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmDeleteModalLabel">Подтверждение удаления</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Вы уверены, что хотите удалить данный комментарий?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteComment()">Удалить</button>
			</div>
		</div>
	</div>
</div>