@model CpcmComment
<link href="~/css/post-content.css" rel="stylesheet" />
@if (User.Identity.IsAuthenticated)
{
	@if (User.FindFirst(c => c.Type == "CpcmCanBanUsersPost").Value == "True" || User.FindFirst(c => c.Type == "CpcmCanBanUsersComment").Value == "True" || User.FindFirst(c => c.Type == "CpcmCanBanUsers").Value == "True")
	{
		<link href="~/css/ban.css" rel="stylesheet" />
	}
}
<div class="card mb-2" id="@Model.CpcmCommentId">
	<div class="card-body">
		<div class="d-flex align-items-center mb-3">
			@if (Model.CpcmUser.CpcmUserNickName != null)
			{
				<a asp-controller="User" asp-action="Index" asp-route-Nickname="@Model.CpcmUser.CpcmUserNickName">
					@if (@Model.CpcmUser.CpcmUserImagePath != string.Empty)
					{
						<img src="@Url.Content(@Model.CpcmUser.CpcmUserImagePath)"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
					else
					{
						<img src="\uploads\default.png"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
				</a>
			}
			else
			{
				<a asp-controller="User" asp-action="Index" asp-route-UserId="@Model.CpcmUser.CpcmUserId">
					@if (@Model.CpcmUser.CpcmUserImagePath != string.Empty)
					{
						<img src="@Url.Content(@Model.CpcmUser.CpcmUserImagePath)"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
					else
					{
						<img src="\uploads\default.png"
							 class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;">
					}
				</a>
			}
			<div>
				@if (Model.CpcmUser.CpcmUserNickName != null)
				{
					<a class="link-dark nickname" asp-controller="User" asp-action="Index" asp-route-Nickname="@Model.CpcmUser.CpcmUserNickName">
						<h5>@Model.CpcmUser.CpcmUserFirstName @Model.CpcmUser.CpcmUserSecondName @Model.CpcmUser.CpcmUserAdditionalName</h5>
					</a>
				}
				else
				{
					<a class="link-dark nickname" asp-controller="User" asp-action="Index" asp-route-UserId="@Model.CpcmUser.CpcmUserId">
						<h5>@Model.CpcmUser.CpcmUserFirstName @Model.CpcmUser.CpcmUserSecondName @Model.CpcmUser.CpcmUserAdditionalName</h5>
					</a>
				}
				<a asp-controller="PostComment" asp-action="ViewComment" asp-route-commentId="@Model.CpcmCommentId" class="text-muted">@Model.CpcmCommentCreationDate.ToString("dd.MM.yyyy hh:mm")</a>
			</div>
			@if (User.Identity.IsAuthenticated)
			{
				<div class="ms-auto mb-auto d-flex" style="flex-direction: column;">
					@if (Model.CpcmUser.CpcmUserId.ToString() == User.FindAll(x => x.Type == "CpcmUserId").FirstOrDefault().Value)
					{
						<a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="askCommentDelete('@Model.CpcmCommentId')">
							<svg class="text-danger" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
								<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
							</svg>
						</a>
					}
					@if (User.FindFirst(c => c.Type == "CpcmCanBanUsersComment").Value == "True")
					{
						if (!Model.CpcmCommentBanned)
						{
							<a class="ban-icon-link" onclick="banComment('/PostComment/BanUnbanComment', '@Model.CpcmCommentId')">
								<svg class="ban-icon" style="color: #dc3545" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
									<path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
								</svg>
							</a>
						}
						else
						{
							<a class="ban-icon-link" onclick="banComment('/PostComment/BanUnbanComment', '@Model.CpcmCommentId')">
								<svg class="ban-icon" style="color: #198754" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
									<path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
								</svg>
							</a>
						}
					}
				</div>
			}
		</div>
		<div class="g-2">
			<div class="row g-1 p-1 comment-text">
				@if (Model.CpcmUser.CpcmIsDeleted)
				{
					<i class="m-1 pb-1">Аккаунт автора комментария был удалён :(</i>
				}
				else if (Model.CpcmUser.CpcmUserBanned)
				{
					<i class="m-1 pb-1">Автор комментария был забаннен :(</i>
				}
				else if (Model.CpcmIsDeleted)
				{
					<i class="m-1 pb-1">Комментарий удалён :(</i>
				}
				else if (Model.CpcmCommentBanned)
				{
					<i class="m-1 pb-1">Комментарий забаннен :(</i>
				}
				else
				{
					@Model.CpcmCommentText
				}
			</div>
			@if (Model.InverseCpcmCommentFatherNavigation?.Count != 0)
			{
				@if (!Model.CpcmUser.CpcmIsDeleted && !Model.CpcmUser.CpcmUserBanned && !Model.CpcmIsDeleted && !Model.CpcmCommentBanned)
				{
					@if (Model.CpcmImages.Count != 0)
					{

						<div class="row row-cols-1 @(Model.CpcmImages.Count > 1 ? "row-cols-md-2 row-cols-lg-2" : "") g-4">
							@foreach (var image in Model.CpcmImages)
							{
								<div class="col m-0" style="padding: 1px;">
									<img src="@Url.Content(@image.CpcmImagePath)" class="rounded card-img-top object-fit-cover h-100" alt="Изображение">
								</div>
							}
						</div>
					}
				}
			}
			else
			{
				<div class="m-1 mt-0">
					@await Html.PartialAsync("Comment", Model.InverseCpcmCommentFatherNavigation)
				</div>
			}
			@if (User.Identity.IsAuthenticated)
			{
				@if (Model.InverseCpcmCommentFatherNavigation != null)
				{
					<div class="m-1 mt-0">
						@await Html.PartialAsync("Comment", Model.InverseCpcmCommentFatherNavigation)
					</div>
				}
			}
			<div class="card mt-2">
				@* Форма для добавления комментария *@
				<form class="commentForm" method="post" enctype="multipart/form-data">
					@Html.AntiForgeryToken()
					<div class="row mt-auto mb-auto mt-1 mb-1 me-1">
						<div class="col d-flex align-items-center">
							<img src='@Url.Content(Context.Session.GetString("ProfileImage"))' class="rounded-circle m-2 user-icon" style="object-fit: cover;">
							<div class="input-group container-fluid ps-0 pe-0">
								<input name="CpcmCommentFather" value="@Model.CpcmCommentId" hidden />
								<input name="CpcmPostId" value="@Model.CpcmPost.CpcmPostId" hidden />
								<textarea name="CpcmCommentText" type="text" class="form-control comment-text" id="commentText" rows="1" required></textarea>
								<div class="d-flex align-items-center btn btn-light border-top border-bottom">
									<label class="paperclip-label" for="fileInput-@Model.CpcmCommentId">
										<img class="paperclip-icon" src="~/images/paperclip.svg" />
									</label>
								</div>
								<button type="submit" class="btn btn-light border" value="">Отправить</button>
							</div>
							<input name="Files" id="fileInput-@Model.CpcmCommentId" type="file" accept="image/png, image/gif, image/jpeg" onchange="fileLoad(this)" multiple hidden />
						</div>
					</div>
					<div class="row mt-auto mb-auto mt-1 mb-1 me-1">
						<div class="file-list ms-1"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="~/js/post-content.js"></script>
<script src="~/js/comment-requests.js"></script>
<script src="~/js/files/file-comment-input.js"></script>
<script src="~/js/answer-comment.js"></script>
@if (User.Identity.IsAuthenticated)
{
	@if (User.FindFirst(c => c.Type == "CpcmCanBanUsersComment").Value == "True")
	{
		<script src="~/js/ban/ban-comment.js"></script>
	}
}
<!-- Модальное окно на подтверждение удаление комментария -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmDeleteModalLabel">Подтверждение удаления</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Вы уверены, что хотите удалить данный комментарий?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteComment()">Удалить</button>
			</div>
		</div>
	</div>
</div>
